<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
<!--    <link rel="stylesheet" href="/css/bootstrap.css">-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <h1>List of Students</h1>
    </div>
    <div class="col-lg-3"><a th:href="@{/students/new}" class="btn btn-primary text-end">Add</a></div>
    <table class="table table-striped table-hover text-center rounded mt-3">
        <tr class="table-dark">
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getFirstName()}"></td>
            <td th:text="${student.getLastName()}"></td>
            <td th:text="${student.getEmail()}"></td>
            <td>
                <input type="hidden" name="id" th:value="${student.getId()}" />
                <a th:href="@{/students/update/{id} (id=${student.getId()})}" class="btn btn-success">Edit</a>
                <a th:href="@{/students/delete/{id} (id=${student.getId()})}" type="submit" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>